.header {
    
    position: relative;
    

    &__logo {
        
        background-color: black;
        
        &-img {
            display: inline-block;
            margin-left: 1%;
            width: 50px;
            border-radius: 50%;
            margin-right: 8px;
            vertical-align: middle;
        } 

        &-text {
            width: 68%;
            display: inline-block;
            vertical-align:middle;
            font-size: 1.6rem;
        }

        [class*="nav"] {

            width: auto;
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            font-size: 1.6rem;
            color: $color-white;
            text-decoration: none;
            margin-left: 2%;
    
        }

    }

    &__text-box {
        height: 50vh;
        background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), url(../img/DSC02154.jpeg);
        background-size: cover;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        //position: absolute;
        //top: 50%;
        //left: 50%;
        //transform: translate(-50%, -50%);
        text-align: center;
    }
}